:root{
  --systemFont:calc(0.7rem + 0.2vw);
  --smllFont:calc(0.6rem + 0.1vw);
  --link-text:calc(0.9rem + 0.3vh);
  --leadfont:calc(14px + 0.3vh);
  --form-text:calc(12px + 0.3vh);
  --card-heading:calc(0.9 + 0.2vh);
  --card-icon:calc(10px + 0.2vh);
}

body{
  font-family: 'Open Sans', sans-serif;
}

.bg-dark-custom{
  background-color: #2C3541 !important;
}
.font-weight-bolder{
  font-weight: 900 !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding-left:1rem;
  padding-right:1rem;
  font-weight:600;
  color: #000;
}
.line-height-normal{
  line-height: normal;
}

.title1{
  font-size: calc(3rem + 0.4vw);
}


.Z-index-1{
  z-index:1;
}